@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Sofia);
/* Body */
body {
  font-family: source-sans-pro;
  /* [disabled]background-color: #f2f2f2; */
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-style: normal;
  font-weight: 200;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
mark {
  background-color: #f3945b;
  color: black;
  font-size: x-large;
}
mark_about {
  background-color: #1d4e88;
  color: #fbe0d0;
  font-size: xx-large;
  font-weight: 800;
  text-align: right;
  font-variant: normal;
  letter-spacing: 2px;
}
.turn {
  display: block;
  text-align: right;
}
/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  background-color: #ffffff;
}
.btn {
  border: none;
  background-color: inherit;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.a:hover {
  background: #eee;
}
/* Navigation */
header {
  width: 100%;
  height: 10%;
  background-color: #1d4e89;
  border-bottom: 10px solid #f3945b;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 500px;
  margin-top: auto;
  vertical-align: top;
  /* [disabled]align-content: flex-start; */
  padding-bottom: 50px;
}
.logo {
  color: #fff;
  font-weight: bold;
  text-align: undefined;
  width: 10%;
  float: left;
  margin-top: 15px;
  margin-left: 25px;
  letter-spacing: 4px;
}
nav {
  float: left;
  /* [disabled]width: 49%; */
  text-align: right;
  /* [disabled]margin-right: 25px; */
}
header nav ul {
  list-style: none;
  float: right;
  height: auto;
}
nav ul li {
  float: left;
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  margin-right: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.3s linear;
}
ul li a {
  color: #ffffff;
  text-decoration: none;
}
ul li:hover a {
  color: #2c9ab7;
}
/* Hero Section */
.hero {
  background-image: url("../Asset/Huskey Burger stuff/BURGER_DIVE_BRIAN_SAMUELS_PHOTOGRAPHY_JUNE_2015_5.0.jpg");
  padding-top: 500px;
  padding-bottom: 300px;
  vertical-align: text-top;
}
.light {
  font-weight: bolder;
  color: #ffffff;
  padding-left: 50px;
}
.tagline {
  text-align: center;
  color: #ffffff;
  margin-top: 4px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
  /* [disabled]padding-left: 50px; */
  background-color: rgba(29, 78, 136, 1);
  margin-left: 50px;
  font-size: x-large;
  opacity: 0.8;
  /* [disabled]-moz-opacity: 0.5; */
}
/* About Section */
.text_column {
  /* [disabled]width: 30%; */
  text-align: justify;
  font-weight: 500;
  line-height: 30px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  border-color: rgba(29, 77, 136, 1);
  /* [disabled]background-color: rgba(29,78,136,1.00); */
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: large;
}
/* About Section */
.text_column_contact {
  width: 30%;
  text-align: justify;
  font-weight: 700;
  line-height: 50px;
  float: right;
  padding-right: 200px;
  color: #ffffff;
  border-color: rgba(29, 77, 136, 1);
  /* [disabled]background-color: rgba(29,78,136,1.00); */
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: large;
  letter-spacing: 2px;
  word-spacing: 4px;
}
/* About Section */
.text_column_about {
  /* [disabled]width: 30%; */
  text-align: justify;
  font-weight: 500;
  line-height: 30px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  border-color: rgba(29, 77, 136, 1);
  /* [disabled]background-color: rgba(29,78,136,1.00); */
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: large;
}
.text_menu {
  text-align: justify;
  font-weight: 600;
  line-height: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  border-color: rgba(29, 77, 136, 1);
  /* [disabled]background-color: rgba(29,78,136,1.00); */
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: x-large;
  margin-left: 100px;
  padding-bottom: 10px;
  letter-spacing: 1px;
}
.text_menu_contact {
  text-align: justify;
  font-weight: 600;
  line-height: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  border-color: rgba(29, 77, 136, 1);
  /* [disabled]background-color: rgba(29,78,136,1.00); */
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: x-large;
  margin-left: 100px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  width: 20%;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-right: 100px;
}
.text_menu_sub {
  text-align: justify;
  font-weight: 400;
  /* [disabled]line-height: 10px; */
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  border-color: rgba(29, 77, 136, 1);
  /* [disabled]background-color: rgba(29,78,136,1.00); */
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: medium;
  margin-left: 100px;
  padding-bottom: 10px;
  display: block;
}
a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}
mark {
  background-color: indianred;
  color: wheat;
  font-size: xx-large;
}
mark_price {
  background-color: #ffffff;
  color: rgba(235, 134, 73, 1);
  font-size: x-large;
  text-align: center;
  float: right;
  margin-right: 50px;
  /* [disabled]padding: 10 px; */
  border-color: rgba(255, 255, 255, 1);
  /* [disabled]border-width: 10; */
  background-size: 10px 10px;
  height: 28px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* [disabled]width: 100px; */
  border-radius: 20px;
  line-height: 28px;
  border-style: solid;
  font-weight: bold;
}
.text_column_2 {
  /* [disabled]width: 34%; */
  text-align: left;
  font-weight: 500;
  line-height: 30px;
  /* [disabled]padding-left: 50px; */
  /* [disabled]padding-right: 20px; */
  /* [disabled]color: #FFFFFF; */
  /* [disabled]border-color: rgba(29,77,136,1.00); */
  /* [disabled]background-color: rgba(29,78,136,1.00); */
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: large;
  /* [disabled]border-style: solid; */
  margin-left: 100px;
  clear: none;
  /* [disabled]text-align-last: center; */
  display: inline;
  /* [disabled]margin-right: 100px; */
  float: left;
}
.text_img_right {
  /* [disabled]width: 34%; */
  text-align: justify;
  font-weight: 500;
  line-height: 30px;
  /* [disabled]padding-left: 50px; */
  /* [disabled]padding-right: 20px; */
  /* [disabled]color: #FFFFFF; */
  /* [disabled]border-color: rgba(29,77,136,1.00); */
  background-color: rgba(29, 78, 136, 1);
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: large;
  /* [disabled]border-style: solid; */
  /* [disabled]margin-left: 50px; */
  clear: none;
  /* [disabled]text-align-last: center; */
  display: block;
  margin-right: 100px;
  float: right;
}
.text_img_left {
  /* [disabled]width: 34%; */
  text-align: justify;
  font-weight: 500;
  line-height: 30px;
  /* [disabled]padding-left: 50px; */
  /* [disabled]padding-right: 20px; */
  /* [disabled]color: #FFFFFF; */
  /* [disabled]border-color: rgba(29,77,136,1.00); */
  background-color: rgba(29, 78, 136, 1);
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: large;
  /* [disabled]border-style: solid; */
  margin-left: 100px;
  clear: none;
  /* [disabled]text-align-last: center; */
  display: block;
  /* [disabled]margin-right: 50px; */
  float: left;
}
.about {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  display: inline-table;
  background-color: #1d4e88;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  /* [disabled]-webkit-box-sizing: border-box; */
  /* [disabled]-moz-box-sizing: border-box; */
  /* [disabled]box-sizing: border-box; */
}
.about_about {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
  display: inline-block;
  background-color: #1d4e88;
  /* [disabled]margin-top: 10px; */
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  /* [disabled]margin-left: 10px; */
  /* [disabled]margin-right: 10px; */
  /* [disabled]margin-bottom: 10px; */
  /* [disabled]-webkit-box-sizing: border-box; */
  /* [disabled]-moz-box-sizing: border-box; */
  /* [disabled]box-sizing: border-box; */
  padding-bottom: 50px;
}
.about_menu {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  display: block;
  background-color: #1d4e88;
  margin-top: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
}
/* Stats Gallery */
.stats {
  color: #717070;
  margin-bottom: 5px;
}
.gallery {
  clear: both;
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  /* [disabled]min-width: 400px;
*/
  padding-bottom: 35px;
  padding-top: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
}
.thumbnail {
  width: 25%;
  text-align: center;
  float: left;
  margin-top: 35px;
}
.gallery .thumbnail h4 {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #52bad5;
}
.gallery .thumbnail p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #a3a3a3;
}
/* Parallax Section */
.banner {
  background-color: #2d9ab7;
  background-image: url(../Asset/Finals/Guest_place.png);
  height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  margin-top: 25px;
}
/* Parallax Section */
.banner_about {
  background-color: #2d9ab7;
  background-image: url(../Asset/Finals/the_place.png);
  height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* [disabled]margin-bottom: 25px; */
  /* [disabled]margin-top: 25px; */
}
/* Parallax Section */
.banner_about_gallery {
  background-color: #2d9ab7;
  background-image: url(../Asset/Finals/header_bg.jpg);
  height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* [disabled]margin-bottom: 25px; */
  /* [disabled]margin-top: 25px; */
}
.banner_2 {
  background-color: #2d9ab7;
  background-image: url(../Asset/Finals/main-place.png);
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_menu {
  background-color: #2d9ab7;
  background-image: url(../Asset/Finals/Menu-Banner.png);
  height: 250px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_menu_contact {
  background-color: #2d9ab7;
  background-image: url(../Asset/Finals/burger%20cutting%20board.jpg);
  height: 50px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.parallax {
  color: #030210;
  text-align: right;
  padding-right: 100px;
  padding-top: 110px;
  letter-spacing: 2px;
  margin-top: 0px;
  /* [disabled]padding-bottom: 50px; */
  /* [disabled]-webkit-box-shadow: inset 10px 10px 10px rgba(255,255,255,1.00); */
  /* [disabled]box-shadow: inset 10px 10px 10px rgba(255,255,255,1.00); */
  font-weight: bold;
  font-size: xx-large;
}
.parallax_about {
  color: #030210;
  text-align: left;
  /* [disabled]padding-right: 100px; */
  padding-top: 110px;
  letter-spacing: 2px;
  margin-top: 0px;
  /* [disabled]padding-bottom: 50px; */
  /* [disabled]-webkit-box-shadow: inset 10px 10px 10px rgba(255,255,255,1.00); */
  /* [disabled]box-shadow: inset 10px 10px 10px rgba(255,255,255,1.00); */
  font-weight: 500;
  /* [disabled]font-size: 200px; */
  padding-left: 100px;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro",
    "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-style: normal;
}
.parallax_description {
  color: #ffffff;
  text-align: right;
  padding-right: 10px;
  width: 30%;
  float: right;
  font-weight: lighter;
  line-height: 23px;
  margin-right: 100px;
  background-color: rgba(29, 78, 136, 0.52);
  font-size: large;
}
/* More info */
footer {
  background-color: #ffffff;
  padding-bottom: 35px;
  text-align: justify;
  font-weight: normal;
}
.footer_column {
  width: 50%;
  text-align: center;
  padding-top: 30px;
  float: left;
}
footer .footer_column h3 {
  color: #b3b3b3;
  text-align: center;
}
footer .footer_column p {
  color: #717070;
  background-color: #ffffff;
}
.cards {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}
footer .footer_column p {
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  line-height: 25px;
  font-weight: lighter;
  margin-left: 20px;
  margin-right: 20px;
}
.button {
  width: 200px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid #ffffff;
  color: #ffffff;
  transition: all 0.3s linear;
}

.button:hover {
  background-color: #fefefe;
  color: #c4c4c4;
  cursor: pointer;
}

.button_2 {
  width: 100px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 0;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  border: 1px solid #1d4e88;
  color: #ffffff;
  transition: all 0.3s linear;
  flex-direction: row;
  display: block;
}
.button_2:hover {
  background-color: #f3945b;
  color: #c4c4c4;
  cursor: pointer;
}
.button_profile {
  width: 100px;
  margin-top: auto;
  margin-right: 20px;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  border: 1px solid #1d4e88;
  color: #ffffff;
  transition: all 0.3s linear;
  flex-direction: row;
  display: block;
  position: absolute;
  right: 0;
}
.button_profile:hover {
  background-color: #f3945b;
  color: #c4c4c4;
  cursor: pointer;
}
.copyright {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #717070;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  border-top-width: 2px;
}
.footer_banner {
  background-color: #1d4e88;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  border-top: thick solid rgba(237, 148, 94, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, sans-serif;
  font-size: large;
  letter-spacing: 5px;
  text-align: center;
}
.footer_banner_about {
  background-color: #1d4e88;
  /* [disabled]padding-top: 10px; */
  /* [disabled]padding-bottom: 10PX; */
  margin-bottom: 0px;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  border-top: thick solid rgba(237, 148, 94, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, sans-serif;
  font-size: large;
  letter-spacing: 5px;
  text-align: center;
}
footer {
  display: inline-block;
}
.hidden {
  display: none;
}

/* Mobile */
@media (max-width: 320px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    display: none;
  }
  header nav ul {
  }
  nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .text_column {
    width: 100%;
    text-align: justify;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .thumbnail {
    width: 100%;
  }
  .footer_column {
    width: 100%;
    margin-top: 0px;
  }
  .parallax {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 40%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 18px;
  }
  .parallax_description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 90%;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 12px;
    float: none;
    text-align: center;
  }
  .banner {
    background-color: #2d9ab7;
    background-image: none;
  }
  .tagline {
    margin-top: 20px;
    line-height: 22px;
  }
  .hero_header {
    padding-left: 50px;
    padding-right: 10px;
    line-height: 22px;
    text-align: top;
    float: left;
    margin-left: 50px;
    font-size: x-large;
  }
  .hero_header_bot {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 23px;
    text-align: top;
    color: rgba(29, 78, 136, 1);
  }
}
/* slides show */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Small Tablets */
@media (min-width: 321px) and (max-width: 767px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #043745;
  }
  .container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    overflow: auto;
    display: inline-block;
    background: #52bad5;
  }
  header nav ul {
    padding: 0px;
    float: none;
  }
  nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .text_column {
    width: 100%;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .thumbnail {
    width: 100%;
  }
  .footer_column {
    width: 100%;
    margin-top: 0px;
  }
  .parallax {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 40%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 18px;
  }
  .parallax_description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 30%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: none;
    width: 100%;
    text-align: center;
  }
  .thumbnail {
    width: 50%;
  }
  .parallax {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 20%;
  }
  .parallax_description {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    padding-top: 30px;
  }
  .banner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_column {
    width: 100%;
  }
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
  .text_column {
    width: 100%;
  }
  .thumbnail {
    width: 50%;
  }
  .text_column {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .banner {
    margin-top: 0px;
    padding-top: 0px;
  }
}
.form-control {
  display: block;
  width: 90%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  margin-left: 30px;
}
.text_img_right {
}
